body {
    margin: 0px;
    padding: 0px;
    width: 320px;
    height: 4887px;
}

.header__container {

    .header__logo {
        width: 88px;
        height: 44px;
        padding: 0px;
        margin: 0px;
        position: relative;
        top: 32px;
        left: 15.55px
    }
}

    .div__header-cart {

        .header__cart {
            width: 35px;
            height: 35px;
            position: relative;
            top: -10px;
            left: 266.55px;
    }

    .header__cart-item {
        width: 24px;
        height: 17px;
        position: relative;
        top: -31px;
        left: 249.55px;
    }
}

.title__slogan {
    color: #858585;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.title__name {
   display: flex;
   justify-content: center;
   margin-top: 27px;
}

.button__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    position: relative;
    left: -18px;
}

@mixin black-button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    background-color: black;
    color: white;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

@mixin white-button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    background-color: white;
    border-radius: 8px;
    border: -1px;
    border-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-button__black {
    width: 129px;
    height: 32px;
    @include black-button;
}

.title-button__white {
    width: 129px;
    height: 32px;
    @include white-button;
}

.div-title__blackpiano {
    width: 251.69px;
    height: 194px;
    margin-left: 10px;
}

.div-promo__pt1 {
    width: 288px;
    height: 263.31px;
    margin-top: 100px;
}

.promo__title {
    display: flex;
    justify-content: center;
    position: relative;
    top: -312px;
}

.div-promo__bg {
    opacity: 0.4;    
}

.div-promo__image {
    position: relative;
    top: -335px;
    left: 15px;
}

.div-promo__pt2 {
    width: 320px;
    height: 397px;
    background-color: rgb(71, 71, 71);
    margin-top: 45px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px;
}

.promo-piano__model { 
    position: relative;
    top: -20px;
}

.promo__piano__rate {
    margin-top: -27px;
    margin-bottom: 12px;
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.promo__piano__price {
    margin: 0;

}

.promo__piano__description {
    color: rgb(226, 226, 226);
    margin: 0;
    margin-top: 15px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.promo__piano-features {
    width: 228px;
    height: 14px;
    font-size: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: space-between;
    margin-top: 17px;
    margin-bottom: 15px;
}

.promo-piano__buy {
    width: 228px;
    height: 32px;
    display: flex;
    align-items: center;

    @include black-button;
}

.article-list__section {
    width: 320px;
    height: 1356px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.article-list__piano {
    width: 250px;
    height: 350px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 50px 5px gray;
    margin-top: 35px;
    
}

.article__img {
    width: 205px;
    height: 165.86px;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 10px;
    left: 20px;
}

.article__line {
    position: relative;
    width: 232px;
    border: 1px dashed;
    top: 22px;
    left: 0px;
    color: #DBDBDB;
    display: flex;
}

.article-list__model {
    text-align: start;
    margin-left: 10px;
    position: relative;
    top: 10px;
}

.article__piano-features {
    width: 226px;
    height: 14px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    position: relative;
    left: -30px;
}

.article__piano__item {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
}

.article__piano__price {
    width: 161px;
    height: 36px;
    border: 1px;
    border-color: black;
    border-radius: 8px;
    display: flex;
    position: relative;
    left: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
}

.article__piano-price__pt1 {
    font-size: 16px;
    display: flex;
    flex-wrap: nowrap;
}

.article__piano-price__pt2 {
    font-size: 16px;
    font-weight: bold;
    display: flex;
    flex-wrap: nowrap;
    margin-left: 5px;
}

.black__cart {
    display: flex;
    flex-wrap: nowrap;
    width: 133px;
    height: 133px;
    position: relative;
    top: -80px;
    left: 150px;
}

.see-more__btn {
    width: 129px;
    height: 32px;
    margin-top: 40px;

    @include black-button;
}

.contact-us__section {
    display: flex;
}

.contact-us__bg {
    opacity: 0.4;
}

.div__contact-us-title {
    width: 152px;
    height: 32px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.contact-us__title {
    width: 200px;
    position: relative;
    left: -212px;
    top: 10px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.div-contact-us__description {
    width: 288px;
    height: 114px;
    position: relative;
    top: 70px;
    left: -455px;
    text-align: center;
}

.contact-us__description {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 288px;
    height: 114px;
    font-size: 16px;
}

@mixin contact-us {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: bolder;
    position: relative;
}

.contact-us__info-name {
    left: -735px;
    top: 195px;

    @include contact-us;
}

@mixin contact-us__input {
    background-color: black;
    opacity: 0.7;
    position: relative;
    border: black;
}

.contact-us-name__input {
    width: 271px;
    height: 36px;
    left: -785px;
    top: 250px;

    @include contact-us__input;
}

@mixin div__input-small {
    width: 271px;
    height: 36px;
}

.div__input {
    @include div__input-small;
}

.contact-us__info-phone {
    left: -1061px;
    top: 293px;

    @include contact-us;
}

.contact-us-phone__input {
    top: 345px;
    left: -1113px;

    @include contact-us__input;
    @include div__input-small;
}

.contact-us__info-email {
    left: -1387px;
    top: 387px;

    @include contact-us;
}

.contact-us-email__input {
    top: 443px;
    left: -1432px;

    @include contact-us__input;
    @include div__input-small;
}

.contact-us__info-tell {
    width: 200px;
    left: -1706px;
    top: 488px;

    @include contact-us;
}

.div__input-tell {
    width: 288px;
    height: 148px;
}

.contact-us-tell__input {
    width: 271px;
    height: 148px;
    top: 545px;
    left: -1903px;

    @include contact-us__input;
}

.div__contact-btn {
    width: 271px;
    height: 32px;
}

.contact-us__button {
    position: relative;
    top: 740px;
    left: -2188px;
    width: 288px;
    height: 32px;

    @include black-button;
}

.partner__section {
    width: 320px;
    height: 548px;
    text-align: center;
    background-color: #858585;
}

.partner__img {
    margin-top: 25px;
}

.footer__container {
    width: 320px;
    height: 803px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #858585;
}

.footer__logo {
    width: 133px;
    height: 116px;
    position: relative;
    top: 20px;
}

.social__list {
    width: 138.67px;
    height: 32px;
    display: flex;
    list-style: none;
    position: relative;
    top: 50px;
    left: -90px;
    align-items: center;
}

.social-list__item-bf {
    display: flex;
    position: relative;
    top: 1px;
    left: 36px;
}

.social-list__item {
    margin-left: 20px;
}

.us__title {
    font-size: 14px;
    font-weight: bolder;
    position: relative;
    top: 50px;
}

.us__menu {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    list-style: none;
    position: relative;
    top: 40px;
    left: -19px;
    text-align: center;
}

.us-menu__item {
    margin-bottom: 15px;
}

.contact-us__footer-title {
    font-size: 14px;
    font-weight: bolder;
    position: relative;
    top: 20px;
}

@mixin font__footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    text-align: center;
}

.contact-us__country {
    margin-top: 25px;

    @include font__footer;
}

.contact-us__adress-pt1 {
    margin-top: -10px;

    @include font__footer;
}

.contact-us__adress-pt2 {
    margin-top: -10px;

    @include font__footer;
}

.footer__copyright {
    margin-top: 60px;
    margin-bottom: 60px;
}

.footer__dev-pt1 {
    @include font__footer;
}

.footer__dev-pt2 {
    margin-top: -10px;

    @include font__footer;
}