body {
    margin: 0px;
    padding: 0px;
    width: 320px;
    height: 4941px;
}

.header__container {

    .header__logo {
        width: 88px;
        height: 44px;
        padding: 0px;
        margin: 0px;
        position: relative;
        top: 32px;
        left: 15.55px
    }
}

    .div__header-cart {

        .header__cart {
            width: 35px;
            height: 35px;
            position: relative;
            top: -10px;
            left: 266.55px;
    }

    .header__cart-item {
        width: 24px;
        height: 17px;
        position: relative;
        top: -31px;
        left: 249.55px;
    }
}

.title__slogan {
    color: #858585;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.title__name {
   display: flex;
   justify-content: center;
   margin-top: 27px;
}

.button__list {
    list-style: none;
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

@mixin black-button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    background-color: black;
    color: white;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

@mixin white-button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    background-color: white;
    border-radius: 8px;
    border: 1px;
    border-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-button__black {
    width: 129px;
    height: 32px;
    @include black-button()
}

.title-button__white {
    width: 129px;
    height: 32px;
    @include white-button();
}

.div-title__blackpiano {
    width: 251.69px;
    height: 194px;
    margin-left: 10px;
}

.div-promo__pt1 {
    width: 288px;
    height: 263.31px;
    margin-top: 100px;
}

.promo__title {
    display: flex;
    justify-content: center;
    position: relative;
    top: -312px;
}

.div-promo__bg {
    opacity: 0.4;    
}

.div-promo__image {
    position: relative;
    top: -335px;
    left: 15px;
}

.div-promo__pt2 {
    width: 320px;
    height: 397px;
    background-color: rgb(71, 71, 71);
    margin-top: 45px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px;
}

.promo-piano__model { 
    position: relative;
    top: -20px;
}

.promo__piano__rate {
    margin-top: -27px;
    margin-bottom: 12px;
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.promo__piano__price {
    margin: 0;

}

.promo__piano__description {
    color: rgb(226, 226, 226);
    margin: 0;
    margin-top: 15px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.promo__piano-features {
    width: 228px;
    height: 14px;
    font-size: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: space-between;
    margin-top: 17px;
    margin-bottom: 15px;
}

.promo__piano__item-new {
    list-style: none;
}

.promo-piano__buy {
    width: 228px;
    height: 32px;
    display: flex;
    align-items: center;

    @include black-button();
}

.article-list__section {
    width: 320px;
    height: 1356px;
    text-align: center;
}

.article-list__model {
    text-align: start;
}

.article__piano-features {
    width: 226px;
    height: 110px;
    border-radius: 8px;
    display: flex;
    margin-top: -10px;
}

li span {
    font-size: 15px;
    position: relative;
    left: -16px;
    margin-left: 10px;
}


@mixin catalog__card {
    width: 250px;
    height: 350px;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 40px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

@mixin catalog__piano {
    width: 205px;
    height: 165.86px;    
}

.article-list__white-piano {
    @include catalog__card();
}

.article-list__golden-piano {
    @include catalog__card();
}

.article-list__brown-piano {
    @include catalog__card();
}